* {
    box-sizing: border-box;
  }
.menuBar{
    height: 75px;
    width: 100%;
    float: top;
    z-index: 2;
    background-color: #827373;
}
.menuButton{
float: left;
}
.ParametersButtons{
    float: top;
}
.MaterialcolourContainer{
    position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        
}
.Material{
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    width: 100px;
    height: 100px;
    float: left;
}
.buttonColour{
    float: right;
}
.modelFrame{
    padding: 16px;
    float: right;
    height: 100%;
    width: 75%;
}
model-viewer{
    height: 700PX;
    width: 100%;
}
.sideBar{
    height: 100%;
    width: 25%;
    float: left;
    background-color: #111;
    
}
.sideBarContent{
    padding: 60px;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

body {
    margin: 0;
}
#logo{
    float: inline-start;
}